{
  "openapi": "3.0.3",
  "info": {
    "title": "Cavuno v1 REST API",
    "version": "1.0.0",
    "description": "The Cavuno API is organized around REST. Our API has predictable resource-oriented URLs, accepts JSON-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.\n\n## Base URL\n\nProduction: `https://api.cavuno.com/v1`\n\nAll API requests must be made over HTTPS. Calls made over plain HTTP will fail.\n\n## Authentication\n\nThe Cavuno API uses API keys to authenticate requests. You can view and manage your API keys in the Cavuno dashboard, under Settings → Developer → API keys.\n\nCavuno API keys have the prefix `cavuno_live_`. Your API keys carry many privileges, so be sure to keep them secure. Do not share your secret API keys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAuthentication to the API is performed via Bearer auth. Provide your API key as the bearer token in the `Authorization` header:\n\n```bash\ncurl https://api.cavuno.com/v1/jobs \\\n  -H \"Authorization: Bearer YOUR_SECRET_API_KEY\"\n```\n\nAPI requests without authentication will fail.\n\n## Rate limits\n\nThe Cavuno API has rate limits in place to ensure stability and reliability. By default, API keys are limited to 100 requests per minute. If you exceed your limit, requests return an HTTP 429 response with a `Retry-After` header indicating when you can try again.\n\nIf you have a use case that needs a higher limit, contact support.\n\n## Idempotency\n\nThe API supports idempotency for safely retrying requests without accidentally performing the same operation twice. For example, if a request to create a job fails due to a network connection error, you can safely retry the request with the same idempotency key, and we'll guarantee that only one job is created.\n\nTo perform an idempotent request, provide an additional `Idempotency-Key` header on any `POST`, `PATCH`, or `DELETE` request:\n\n```bash\ncurl https://api.cavuno.com/v1/jobs \\\n  -X POST \\\n  -H \"Authorization: Bearer cavuno_live_...\" \\\n  -H \"Idempotency-Key: $(uuidgen)\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ \"title\": \"Senior Engineer\" }'\n```\n\n## Errors\n\nCavuno uses conventional HTTP response codes to indicate the success or failure of an API request. In general: codes in the `2xx` range indicate success, codes in the `4xx` range indicate an error that failed given the information provided (e.g., a required parameter was omitted), and codes in the `5xx` range indicate an error with Cavuno's servers (these are rare).\n\nError responses include a JSON body with details:\n\n```json\n{\n  \"error\": {\n    \"code\": \"validation_bad_request\",\n    \"message\": \"Field 'title' is required.\",\n    \"requestId\": \"req_...\"\n  }\n}\n```\n\nSome errors carry an additional `details` field with structured context, such as per-field validation issues.\n\nWhen contacting support about a failed request, include the `requestId` value. It is the fastest way for us to find your request in our logs.\n",
    "contact": {
      "name": "Cavuno",
      "url": "https://cavuno.com"
    }
  },
  "servers": [
    {
      "url": "https://api.cavuno.com/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "externalDocs": {
    "description": "Cavuno API reference",
    "url": "https://cavuno.com/docs/api"
  },
  "paths": {
    "/analytics/overview": {
      "get": {
        "summary": "Get analytics overview",
        "description": "Typed Board homepage analytics overview for the authenticated Board: sessions, page views, average session duration, apply clicks, and conditional impressions/revenue metrics. Omits unavailable conditional metrics rather than returning provider connection state. Inclusive UTC date-only range; defaults to the last 30 completed UTC days ending yesterday. Max range 366 days.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Inclusive range start (UTC date-only YYYY-MM-DD)."
            },
            "required": false,
            "description": "Inclusive range start (UTC date-only YYYY-MM-DD).",
            "name": "start",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Inclusive range end (UTC date-only YYYY-MM-DD)."
            },
            "required": false,
            "description": "Inclusive range end (UTC date-only YYYY-MM-DD).",
            "name": "end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics overview for the requested range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsOverview"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Analytics"
        ],
        "operationId": "getAnalyticsOverview"
      }
    },
    "/analytics/search-console/inspect": {
      "post": {
        "operationId": "inspectSearchConsoleUrl",
        "summary": "Inspect a URL in Google Search Console",
        "description": "Returns Google’s complete indexed-version URL Inspection result for a URL inside the Board’s stored reporting coverage. This does not run a live test and does not request indexing.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inspectionUrl": {
                    "type": "string",
                    "maxLength": 4096,
                    "format": "uri",
                    "description": "Canonical HTTPS Board URL covered by the connected property."
                  },
                  "languageCode": {
                    "type": "string",
                    "maxLength": 35,
                    "pattern": "^[A-Za-z]{2,8}(?:-[A-Za-z0-9]{1,8})*$",
                    "description": "Optional BCP-47 language code, such as en-AU."
                  }
                },
                "required": [
                  "inspectionUrl"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The indexed-version URL Inspection result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchConsoleInspectionResponse"
                }
              }
            }
          },
          "403": {
            "description": "The URL is outside the Board’s reporting coverage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Search Console is not connected or access was lost.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "URL Inspection quota was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Google rejected the validated request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Google Search Console is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Analytics"
        ]
      }
    },
    "/analytics/search-console/query": {
      "post": {
        "operationId": "querySearchConsole",
        "summary": "Query Google Search Console performance",
        "description": "Runs a live, finalized Search Analytics query against the Board’s connected Google Search Console property. Uses Google’s request and row shape while enforcing the Board’s stored reporting coverage. Results are top rows and are not exhaustive.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  "endDate": {
                    "type": "string",
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  "dimensions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "country",
                        "date",
                        "device",
                        "page",
                        "query",
                        "searchAppearance"
                      ]
                    },
                    "maxItems": 3
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "web",
                      "image",
                      "video",
                      "news",
                      "discover",
                      "googleNews"
                    ]
                  },
                  "dimensionFilterGroups": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "groupType": {
                          "type": "string",
                          "enum": [
                            "and"
                          ]
                        },
                        "filters": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "dimension": {
                                "type": "string",
                                "enum": [
                                  "country",
                                  "device",
                                  "page",
                                  "query",
                                  "searchAppearance"
                                ]
                              },
                              "operator": {
                                "type": "string",
                                "enum": [
                                  "contains",
                                  "equals",
                                  "notContains",
                                  "notEquals",
                                  "includingRegex",
                                  "excludingRegex"
                                ]
                              },
                              "expression": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 4096
                              }
                            },
                            "required": [
                              "dimension",
                              "operator",
                              "expression"
                            ],
                            "additionalProperties": false
                          },
                          "minItems": 1,
                          "maxItems": 20
                        }
                      },
                      "required": [
                        "groupType",
                        "filters"
                      ],
                      "additionalProperties": false
                    },
                    "maxItems": 1
                  },
                  "aggregationType": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "byPage",
                      "byProperty"
                    ]
                  },
                  "rowLimit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 25000
                  },
                  "startRow": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 250000
                  },
                  "dataState": {
                    "type": "string",
                    "enum": [
                      "final"
                    ]
                  }
                },
                "required": [
                  "startDate",
                  "endDate"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Live finalized Search Console performance rows.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchConsoleQueryResponse"
                }
              }
            }
          },
          "409": {
            "description": "Search Console is not connected or access was lost.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Google Search Console quota was reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Google rejected the validated request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Google Search Console is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Analytics"
        ]
      }
    },
    "/analytics/traffic": {
      "get": {
        "summary": "Get analytics traffic tables",
        "description": "Typed Board homepage traffic breakdowns: top pages, sources, locations, and devices with apply-click attribution. Sources are normalized referrers (never full URLs). Inclusive UTC date-only range; defaults to the last 30 completed UTC days ending yesterday. Max range 366 days. `limit` caps each table (1–10, default 10).",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Inclusive range start (UTC date-only YYYY-MM-DD)."
            },
            "required": false,
            "description": "Inclusive range start (UTC date-only YYYY-MM-DD).",
            "name": "start",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Inclusive range end (UTC date-only YYYY-MM-DD)."
            },
            "required": false,
            "description": "Inclusive range end (UTC date-only YYYY-MM-DD).",
            "name": "end",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "description": "Max rows per traffic table (1–10). Defaults to 10."
            },
            "required": false,
            "description": "Max rows per traffic table (1–10). Defaults to 10.",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics traffic tables for the requested range.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsTraffic"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Analytics"
        ],
        "operationId": "getAnalyticsTraffic"
      }
    },
    "/backfill/companies": {
      "get": {
        "summary": "List Backfill companies",
        "description": "List Cavuno companies for one Backfill dashboard tab state. Internal candidate IDs and scores are never returned. Candidates (index/name/website only) appear solely for `needs_match`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "backfilling",
                "available",
                "needs_match",
                "not_backfilling"
              ],
              "description": "Dashboard tab state: backfilling | available | needs_match | not_backfilling."
            },
            "required": true,
            "description": "Dashboard tab state: backfilling | available | needs_match | not_backfilling.",
            "name": "state",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 200,
              "description": "Case-insensitive name substring filter."
            },
            "required": false,
            "description": "Case-insensitive name substring filter.",
            "name": "search",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Backfill companies.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "url": {
                      "type": "string"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BackfillCompany"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "url",
                    "hasMore",
                    "nextCursor",
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "listBackfillCompanies"
      }
    },
    "/backfill/companies/bulk-start": {
      "post": {
        "summary": "Bulk-start Backfill for companies",
        "description": "Start backfill for up to 100 Cavuno company IDs. Preserves order and returns per-item success or product error without provider detail (a not-Backfillable company reports `company_not_backfillable`). Requires an `Idempotency-Key` header.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkBackfillCompaniesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered per-item results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackfillBulkResult"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "createBackfillCompaniesBulkStart"
      }
    },
    "/backfill/companies/bulk-stop": {
      "post": {
        "summary": "Bulk-stop Backfill for companies",
        "description": "Stop backfill for up to 100 Cavuno company IDs. Ordered partial-success semantics. Requires an `Idempotency-Key` header.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkBackfillCompaniesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered per-item results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackfillBulkResult"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "createBackfillCompaniesBulkStop"
      }
    },
    "/backfill/companies/{companyId}/mark-no-match": {
      "post": {
        "summary": "Mark a Backfill company as no match",
        "description": "Record that none of the candidates match (same as the dashboard \"None of these\" action). Requires an `Idempotency-Key` header.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Cavuno company ID from the companies or Backfill list."
            },
            "required": true,
            "description": "Cavuno company ID from the companies or Backfill list.",
            "name": "companyId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The company after mark-no-match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackfillCompany"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "createBackfillCompanyMarkNoMatch"
      }
    },
    "/backfill/companies/{companyId}/match": {
      "post": {
        "summary": "Confirm a Backfill company match",
        "description": "Link a needs_match company to a candidate by short-lived list index. The live candidate list is re-read and re-sorted server-side; a stale index returns `backfill_candidate_conflict`. Requires an `Idempotency-Key` header.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Cavuno company ID from the companies or Backfill list."
            },
            "required": true,
            "description": "Cavuno company ID from the companies or Backfill list.",
            "name": "companyId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatchBackfillCompanyBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The company after match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackfillCompany"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "createBackfillCompanyMatch"
      }
    },
    "/backfill/companies/{companyId}/start": {
      "post": {
        "summary": "Start Backfill for a company",
        "description": "Start collecting jobs for a Cavuno company. Registration uses an existing provider match or the company website, resolved server-side. A company with no supported ATS detected on its website and no confirmed match is rejected with `company_not_backfillable` (422). Requires an `Idempotency-Key` header.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Cavuno company ID from the companies or Backfill list."
            },
            "required": true,
            "description": "Cavuno company ID from the companies or Backfill list.",
            "name": "companyId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The company after start.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackfillCompany"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "createBackfillCompanyStart"
      }
    },
    "/backfill/companies/{companyId}/stop": {
      "post": {
        "summary": "Stop Backfill for a company",
        "description": "Stop collecting jobs for a Cavuno company. Requires a website on file (same as the dashboard). Requires an `Idempotency-Key` header.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Cavuno company ID from the companies or Backfill list."
            },
            "required": true,
            "description": "Cavuno company ID from the companies or Backfill list.",
            "name": "companyId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The company after stop.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackfillCompany"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "createBackfillCompanyStop"
      }
    },
    "/backfill/progress": {
      "get": {
        "summary": "Get Backfill progress",
        "description": "Return the aggregate Backfill progress for the Board — the same status and job counts ordinary users see during onboarding. Returns JSON `null` when no progress exists. Does not expose sync-run history, provider run IDs, or per-run error detail.",
        "responses": {
          "200": {
            "description": "Aggregate Backfill progress, or `null` when the Board has none.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackfillProgress"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "getBackfillProgress"
      }
    },
    "/backfill/rules": {
      "get": {
        "summary": "List Backfill rules",
        "description": "List named Backfill rules for the Board. Excludes the provider company subscription. Provider vertical keys and rule DSL are never returned.",
        "responses": {
          "200": {
            "description": "A list of Backfill rules.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "url": {
                      "type": "string"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BackfillRule"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "url",
                    "hasMore",
                    "nextCursor",
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "listBackfillRules"
      },
      "post": {
        "summary": "Create a Backfill rule",
        "description": "Create a named Backfill rule using the same typed rule-card conditions and filters as the dashboard form. Requires an `Idempotency-Key` header.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBackfillRuleBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Backfill rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackfillRule"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "createBackfillRule"
      }
    },
    "/backfill/rules/{id}": {
      "get": {
        "summary": "Retrieve a Backfill rule",
        "description": "Retrieve a single Backfill rule by its Cavuno-owned ID.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The Backfill rule ID returned by create or list endpoints."
            },
            "required": true,
            "description": "The Backfill rule ID returned by create or list endpoints.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The Backfill rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackfillRule"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "getBackfillRule"
      },
      "patch": {
        "summary": "Update a Backfill rule",
        "description": "Partially update a Backfill rule. Omitted fields keep their current values, matching the dashboard edit form. Requires an `Idempotency-Key` header.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The Backfill rule ID returned by create or list endpoints."
            },
            "required": true,
            "description": "The Backfill rule ID returned by create or list endpoints.",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBackfillRuleBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Backfill rule.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackfillRule"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "updateBackfillRule"
      },
      "delete": {
        "summary": "Delete a Backfill rule",
        "description": "Delete a named Backfill rule. Requires an `Idempotency-Key` header.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The Backfill rule ID returned by create or list endpoints."
            },
            "required": true,
            "description": "The Backfill rule ID returned by create or list endpoints.",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "The rule was deleted."
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Backfill"
        ],
        "operationId": "deleteBackfillRule"
      }
    },
    "/billing/checkout": {
      "post": {
        "summary": "Create hosted checkout for a plan",
        "description": "Returns a hosted human-consent URL for the target plan. Requires `billing.manage`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCheckoutBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hosted checkout session created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCheckout"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Billing"
        ],
        "operationId": "createCheckoutSession"
      }
    },
    "/billing/connect": {
      "get": {
        "summary": "Get payment connection status",
        "description": "Returns the Board's normalized payment connection readiness without provider identifiers or raw provider requirements.",
        "responses": {
          "200": {
            "description": "The Board payment connection status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingConnect"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Billing"
        ],
        "operationId": "getBillingConnect"
      }
    },
    "/billing/subscription": {
      "get": {
        "summary": "Get the account platform subscription",
        "description": "Returns the Board's Cavuno plan, status, renewal state, and included product capabilities. Provider identifiers are never returned.",
        "responses": {
          "200": {
            "description": "The account billing subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingSubscription"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Billing"
        ],
        "operationId": "getBillingSubscription"
      }
    },
    "/billing/upgrade": {
      "post": {
        "summary": "Upgrade the account plan",
        "description": "Creates a hosted human-consent handoff for an upgrade. It never charges a saved payment method directly. Requires `billing.manage` and an `Idempotency-Key` header.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingUpgradeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upgrade completed or checkout required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingUpgrade"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Billing"
        ],
        "operationId": "upgradeSubscription"
      }
    },
    "/blog/authors": {
      "get": {
        "summary": "List blog authors",
        "description": "Returns a list of your blog authors. The authors are returned sorted by update date, with the most recently updated authors appearing first.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "An opaque pagination cursor returned in the `nextCursor` field of a previous response. Pass it back to fetch the next page of results."
            },
            "required": false,
            "description": "An opaque pagination cursor returned in the `nextCursor` field of a previous response. Pass it back to fetch the next page of results.",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100."
            },
            "required": false,
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100.",
            "example": 20,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/blog/authors"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlogAuthor"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "url",
                    "hasMore",
                    "nextCursor",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog authors"
        ],
        "operationId": "listBlogAuthors"
      },
      "post": {
        "summary": "Create a blog author",
        "description": "Creates a new blog author. The request is idempotent when an `Idempotency-Key` header is supplied.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthorBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogAuthor"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Another author already uses the same slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog authors"
        ],
        "operationId": "createBlogAuthor"
      }
    },
    "/blog/authors/export": {
      "get": {
        "summary": "Export blog authors",
        "description": "Exports the account’s blog authors. `format=json` returns an inline list of export rows (max 10,000; fields mirror the CSV columns, camelCase). `format=csv` (default) returns `202` with an `exports.generate` operation — poll it, then download the CSV from `GET /v1/operations/{id}/download` once it succeeds. Requires `blog.read`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json"
              ],
              "default": "csv",
              "description": "Export format. `json` streams an inline list of blog author export rows (capped at 10,000 rows); `csv` (default) starts an async `exports.generate` operation."
            },
            "required": false,
            "description": "Export format. `json` streams an inline list of blog author export rows (capped at 10,000 rows); `csv` (default) starts an async `exports.generate` operation.",
            "name": "format",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Inline JSON export (`format=json`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/blog/authors/export"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExportRow"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "url",
                    "hasMore",
                    "nextCursor",
                    "data"
                  ]
                }
              }
            }
          },
          "202": {
            "description": "An `exports.generate` operation was started (`format=csv`). Poll the operation; once it succeeds, download the CSV from `GET /v1/operations/{id}/download`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResource"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog authors"
        ],
        "operationId": "exportBlogAuthors"
      }
    },
    "/blog/authors/{id}": {
      "get": {
        "summary": "Retrieve a blog author",
        "description": "Retrieves the details of an existing blog author. You only need to supply the unique author ID that was returned upon author creation.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The author's opaque object `id`: the `id` field returned by the author endpoints (e.g. `a4u7t9k2d6q0r3s8v1w5x9y2z6b0c4m7`). This is NOT the `slug` or name; passing a slug like `jane-doe` returns 404. To look up an author by name or slug, use `GET /v1/blog/authors` and read the returned `id`."
            },
            "required": true,
            "description": "The author's opaque object `id`: the `id` field returned by the author endpoints (e.g. `a4u7t9k2d6q0r3s8v1w5x9y2z6b0c4m7`). This is NOT the `slug` or name; passing a slug like `jane-doe` returns 404. To look up an author by name or slug, use `GET /v1/blog/authors` and read the returned `id`.",
            "example": "a4u7t9k2d6q0r3s8v1w5x9y2z6b0c4m7",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogAuthor"
                }
              }
            }
          },
          "404": {
            "description": "Author not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog authors"
        ],
        "operationId": "getBlogAuthor"
      },
      "patch": {
        "summary": "Update a blog author",
        "description": "Updates the specified blog author by setting the values of the parameters passed. Any parameters not provided will be left unchanged. The request is idempotent when an `Idempotency-Key` header is supplied.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The author's opaque object `id`: the `id` field returned by the author endpoints (e.g. `a4u7t9k2d6q0r3s8v1w5x9y2z6b0c4m7`). This is NOT the `slug` or name; passing a slug like `jane-doe` returns 404. To look up an author by name or slug, use `GET /v1/blog/authors` and read the returned `id`."
            },
            "required": true,
            "description": "The author's opaque object `id`: the `id` field returned by the author endpoints (e.g. `a4u7t9k2d6q0r3s8v1w5x9y2z6b0c4m7`). This is NOT the `slug` or name; passing a slug like `jane-doe` returns 404. To look up an author by name or slug, use `GET /v1/blog/authors` and read the returned `id`.",
            "example": "a4u7t9k2d6q0r3s8v1w5x9y2z6b0c4m7",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAuthorBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogAuthor"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Author not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Another author already uses the same slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog authors"
        ],
        "operationId": "updateBlogAuthor"
      },
      "delete": {
        "summary": "Delete a blog author",
        "description": "Permanently deletes a blog author and schedules removal of its ID from every post `authorIds` array on the board (paginated drain). It cannot be undone.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The author's opaque object `id`: the `id` field returned by the author endpoints (e.g. `a4u7t9k2d6q0r3s8v1w5x9y2z6b0c4m7`). This is NOT the `slug` or name; passing a slug like `jane-doe` returns 404. To look up an author by name or slug, use `GET /v1/blog/authors` and read the returned `id`."
            },
            "required": true,
            "description": "The author's opaque object `id`: the `id` field returned by the author endpoints (e.g. `a4u7t9k2d6q0r3s8v1w5x9y2z6b0c4m7`). This is NOT the `slug` or name; passing a slug like `jane-doe` returns 404. To look up an author by name or slug, use `GET /v1/blog/authors` and read the returned `id`.",
            "example": "a4u7t9k2d6q0r3s8v1w5x9y2z6b0c4m7",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response."
          },
          "404": {
            "description": "Author not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog authors"
        ],
        "operationId": "deleteBlogAuthor"
      }
    },
    "/blog/posts": {
      "get": {
        "summary": "List blog posts",
        "description": "Returns a list of blog posts for the account, most recently updated first. Filter by a single `status`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "scheduled",
                "published"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/blog/posts"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlogPostSummary"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "url",
                    "hasMore",
                    "nextCursor",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog posts"
        ],
        "operationId": "listBlogPosts"
      },
      "post": {
        "summary": "Create a blog post",
        "description": "Creates a blog post. New posts default to `status: \"draft\"`; publish explicitly via `POST /v1/blog/posts/{id}/publish`. The `html` body is sanitized server-side.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBlogPostBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPost"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog posts"
        ],
        "operationId": "createBlogPost"
      }
    },
    "/blog/posts/batch": {
      "post": {
        "summary": "Run a batch of blog post operations",
        "description": "Runs up to 50 blog post operations in a single request (5 MB body limit). Each sub-operation runs independently. A `publish`/`unpublish` sub-op uses `{ method: \"POST\", action: \"publish\", resourceId }` and requires `blog.publish`. Idempotency keys are honored on the batch itself, not on individual sub-operations.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlogPostsBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Inspect each entry of the `data` array for the per-sub-operation status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "batch_result"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "number"
                          },
                          "data": {
                            "nullable": true
                          },
                          "error": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "details": {
                                "nullable": true
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "object",
                    "data"
                  ]
                }
              }
            }
          },
          "413": {
            "description": "The request body exceeded 5 MB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog posts"
        ],
        "operationId": "batchBlogPosts"
      }
    },
    "/blog/posts/export": {
      "get": {
        "summary": "Export blog posts",
        "description": "Exports the account’s blog posts. `format=json` returns an inline list of export rows (max 10,000; fields mirror the CSV columns, camelCase). `format=csv` (default) returns `202` with an `exports.generate` operation — poll it, then download the CSV from `GET /v1/operations/{id}/download` once it succeeds. Requires `blog.read`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json"
              ],
              "default": "csv",
              "description": "Export format. `json` streams an inline list of blog post export rows (capped at 10,000 rows); `csv` (default) starts an async `exports.generate` operation."
            },
            "required": false,
            "description": "Export format. `json` streams an inline list of blog post export rows (capped at 10,000 rows); `csv` (default) starts an async `exports.generate` operation.",
            "name": "format",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Inline JSON export (`format=json`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/blog/posts/export"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExportRow"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "url",
                    "hasMore",
                    "nextCursor",
                    "data"
                  ]
                }
              }
            }
          },
          "202": {
            "description": "An `exports.generate` operation was started (`format=csv`). Poll the operation; once it succeeds, download the CSV from `GET /v1/operations/{id}/download`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResource"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog posts"
        ],
        "operationId": "exportBlogPosts"
      }
    },
    "/blog/posts/search": {
      "post": {
        "summary": "Search blog posts",
        "description": "Lexical title search across all statuses (includes drafts). Optionally narrow to a single `status`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchBlogPostsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "search_result"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/blog/posts/search"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlogPostSummary"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "url",
                    "hasMore",
                    "nextCursor",
                    "data"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog posts"
        ],
        "operationId": "searchBlogPosts"
      }
    },
    "/blog/posts/{id}": {
      "get": {
        "summary": "Retrieve a blog post",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`."
            },
            "required": true,
            "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`.",
            "example": "b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPost"
                }
              }
            }
          },
          "404": {
            "description": "Blog post not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog posts"
        ],
        "operationId": "getBlogPost"
      },
      "patch": {
        "summary": "Update a blog post",
        "description": "Updates a blog post. A `status` value is rejected with `blog_invalid_transition` unless it is the scheduling carve-out (`status: \"scheduled\"` with a future `publishedAt`); use the publish/unpublish endpoints for other lifecycle changes.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`."
            },
            "required": true,
            "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`.",
            "example": "b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBlogPostBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPost"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request or an invalid status transition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Blog post not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The slug change collides with an existing post.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog posts"
        ],
        "operationId": "updateBlogPost"
      },
      "delete": {
        "summary": "Delete a blog post",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`."
            },
            "required": true,
            "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`.",
            "example": "b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response."
          },
          "404": {
            "description": "Blog post not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog posts"
        ],
        "operationId": "deleteBlogPost"
      }
    },
    "/blog/posts/{id}/publish": {
      "post": {
        "summary": "Publish a blog post",
        "description": "Publishes a draft or scheduled post, making it visible on the public board. Takes no request body. `publishedAt` is stamped on the first publish and preserved on a later republish.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`."
            },
            "required": true,
            "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`.",
            "example": "b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPost"
                }
              }
            }
          },
          "404": {
            "description": "Blog post not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The post is already published.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog posts"
        ],
        "operationId": "publishBlogPost"
      }
    },
    "/blog/posts/{id}/toggle-featured": {
      "post": {
        "summary": "Toggle a blog post's featured flag",
        "description": "Flips the post's `featured` flag and returns the updated post. Takes no request body.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`."
            },
            "required": true,
            "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`.",
            "example": "b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPost"
                }
              }
            }
          },
          "404": {
            "description": "Blog post not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog posts"
        ],
        "operationId": "toggleFeaturedBlogPost"
      }
    },
    "/blog/posts/{id}/unpublish": {
      "post": {
        "summary": "Unpublish a blog post",
        "description": "Reverts a published post to a draft, removing it from the public board. Takes no request body. The stored `publishedAt` is preserved so a later republish keeps the original publish date.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`."
            },
            "required": true,
            "description": "The post's opaque object `id`: the `id` field returned by the blog-post endpoints (e.g. `b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3`). This is NOT the `slug` or title; passing a slug like `my-first-post` returns 404. To look up a post by title or slug, use `GET /v1/blog/posts` or `POST /v1/blog/posts/search` and read the returned `id`.",
            "example": "b3p8m2k7d9q4x0r5t1v6w8y2z7a4c0n3",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogPost"
                }
              }
            }
          },
          "404": {
            "description": "Blog post not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The post is not currently published.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog posts"
        ],
        "operationId": "unpublishBlogPost"
      }
    },
    "/blog/tags": {
      "get": {
        "summary": "List blog tags",
        "description": "Returns a list of your blog tags. The tags are returned sorted by update date, with the most recently updated tags appearing first.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "An opaque pagination cursor returned in the `nextCursor` field of a previous response. Pass it back to fetch the next page of results."
            },
            "required": false,
            "description": "An opaque pagination cursor returned in the `nextCursor` field of a previous response. Pass it back to fetch the next page of results.",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100."
            },
            "required": false,
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100.",
            "example": 20,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/blog/tags"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BlogTag"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "url",
                    "hasMore",
                    "nextCursor",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog tags"
        ],
        "operationId": "listBlogTags"
      },
      "post": {
        "summary": "Create a blog tag",
        "description": "Creates a new blog tag. The request is idempotent when an `Idempotency-Key` header is supplied.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTagBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogTag"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Another tag already uses the same slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog tags"
        ],
        "operationId": "createBlogTag"
      }
    },
    "/blog/tags/export": {
      "get": {
        "summary": "Export blog tags",
        "description": "Exports the account’s blog tags. `format=json` returns an inline list of export rows (max 10,000; fields mirror the CSV columns, camelCase). `format=csv` (default) returns `202` with an `exports.generate` operation — poll it, then download the CSV from `GET /v1/operations/{id}/download` once it succeeds. Requires `blog.read`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json"
              ],
              "default": "csv",
              "description": "Export format. `json` streams an inline list of blog tag export rows (capped at 10,000 rows); `csv` (default) starts an async `exports.generate` operation."
            },
            "required": false,
            "description": "Export format. `json` streams an inline list of blog tag export rows (capped at 10,000 rows); `csv` (default) starts an async `exports.generate` operation.",
            "name": "format",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Inline JSON export (`format=json`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "example": "/v1/blog/tags/export"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "nextCursor": {
                      "type": "string",
                      "nullable": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExportRow"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "url",
                    "hasMore",
                    "nextCursor",
                    "data"
                  ]
                }
              }
            }
          },
          "202": {
            "description": "An `exports.generate` operation was started (`format=csv`). Poll the operation; once it succeeds, download the CSV from `GET /v1/operations/{id}/download`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResource"
                }
              }
            }
          },
          "default": {
            "description": "An error. Every non-2xx response uses the same envelope; see the Errors section of the introduction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog tags"
        ],
        "operationId": "exportBlogTags"
      }
    },
    "/blog/tags/{id}": {
      "get": {
        "summary": "Retrieve a blog tag",
        "description": "Retrieves the details of an existing blog tag. You only need to supply the unique tag ID that was returned upon tag creation.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The tag's opaque object `id`: the `id` field returned by the tag endpoints (e.g. `t1g5k9d3q7m0p4r8s2v6w1x5y9z3b7c0`). This is NOT the `slug` or name; passing a slug like `engineering` returns 404. To look up a tag by name or slug, use `GET /v1/blog/tags` and read the returned `id`."
            },
            "required": true,
            "description": "The tag's opaque object `id`: the `id` field returned by the tag endpoints (e.g. `t1g5k9d3q7m0p4r8s2v6w1x5y9z3b7c0`). This is NOT the `slug` or name; passing a slug like `engineering` returns 404. To look up a tag by name or slug, use `GET /v1/blog/tags` and read the returned `id`.",
            "example": "t1g5k9d3q7m0p4r8s2v6w1x5y9z3b7c0",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogTag"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog tags"
        ],
        "operationId": "getBlogTag"
      },
      "patch": {
        "summary": "Update a blog tag",
        "description": "Updates the specified blog tag by setting the values of the parameters passed. Any parameters not provided will be left unchanged. The request is idempotent when an `Idempotency-Key` header is supplied.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The tag's opaque object `id`: the `id` field returned by the tag endpoints (e.g. `t1g5k9d3q7m0p4r8s2v6w1x5y9z3b7c0`). This is NOT the `slug` or name; passing a slug like `engineering` returns 404. To look up a tag by name or slug, use `GET /v1/blog/tags` and read the returned `id`."
            },
            "required": true,
            "description": "The tag's opaque object `id`: the `id` field returned by the tag endpoints (e.g. `t1g5k9d3q7m0p4r8s2v6w1x5y9z3b7c0`). This is NOT the `slug` or name; passing a slug like `engineering` returns 404. To look up a tag by name or slug, use `GET /v1/blog/tags` and read the returned `id`.",
            "example": "t1g5k9d3q7m0p4r8s2v6w1x5y9z3b7c0",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTagBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlogTag"
                }
              }
            }
          },
          "400": {
            "description": "The request was malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Another tag already uses the same slug.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog tags"
        ],
        "operationId": "updateBlogTag"
      },
      "delete": {
        "summary": "Delete a blog tag",
        "description": "Permanently deletes a blog tag and schedules removal of its ID from every post `tagIds` array on the board (paginated drain). It cannot be undone.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "The tag's opaque object `id`: the `id` field returned by the tag endpoints (e.g. `t1g5k9d3q7m0p4r8s2v6w1x5y9z3b7c0`). This is NOT the `slug` or name; passing a slug like `engineering` returns 404. To look up a tag by name or slug, use `GET /v1/blog/tags` and read the returned `id`."
            },
            "required": true,
            "description": "The tag's opaque object `id`: the `id` field returned by the tag endpoints (e.g. `t1g5k9d3q7m0p4r8s2v6w1x5y9z3b7c0`). This is NOT the `slug` or name; passing a slug like `engineering` returns 404. To look up a tag by name or slug, use `GET /v1/blog/tags` and read the returned `id`.",
            "example": "t1g5k9d3q7m0p4r8s2v6w1x5y9z3b7c0",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful response."
          },
          "404": {
            "description": "Tag not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-audience": "operator",
        "tags": [
          "Blog tags"
        ],
        "operationId": "deleteBlogTag"
      }
    },
    "/candidates": {
      "get": {
        "summary": "List candidates",
        "description": "Returns the candidates (board users with role `candidate`) of the authenticated account. Per-candidate saved-job and alert counts are not inlined here. Fetch them via `GET /v1/candidates/{id}`. Requires `candidates.read`.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Pagination cursor."
            },
            "required": false,
            "description": "Pagination cursor.",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
[...]
